<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="assets/css/style_dashboard.css">
  <title>Login</title>
</head>
<body>
  <header class="topBar">
    <div class="contianer">
      <h4>Welcome, {{name_user}}</h4>
      <a class="logout" href="http://localhost/php-booster/dashboard/logout">Logout</a>
    </div>
  </header>
</body>
</html>