<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Login</title>
</head>
<body>
  <div class="box_login">
   <div class="cover"></div>
   <h1>Faça seu login:</h1>
   <form action="http://localhost/php-booster/login/check" method="post">
      
      <label for="">E-mail:</label> 
      <input type="email" name="email" id=""placeholder="exemplo@exemplo.com">
      
      <label for="">Password:</label> 
      <input type="password" name="psswd" id=""placeholder="********">

      <div class="buttons">        
        <button value="" class="btn_login">Entrar</button>
        <button value="" class="btn_forget">Recuperar Senha</button>
      </div>
      
      <div class="msg_show">
       <span class="msg_error "><i class="fas fa-exclamation-triangle"></i> Tentativa inválida!</span>
      </div>
   </form>

  </div>
</body>
</html>